@font-face{
    font-family: "Lora";
    src: url("../fonts/Lora-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



body{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0;

   



         
}

    
.background{
    background-image: url(../images/ocean.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 680px;
    background-size: 1280px 680px;
    z-index: -1000;
    position: relative;
    margin: 0;
    padding: 0;
}
    
    
#about{
    text-decoration: underline;
}


#logo{
    z-index: 100;
    width: 850px;
    height: 450px;
    margin-left: 200px;
    margin-top: -15px;
}

#designs{
    font-family: "Cronus Round";
    z-index: 3;
    position: absolute;
    width: 1280px;
    text-align: center;
    font-size: 100px;
    margin-top: -237.5px;
}

#navLinksContainer{
    width: 950px;
    height: 100px;
    text-align: center;
    margin: -115px 0px 0px 140px;
    align-content: center;
    z-index: 2;
}

#navLinksContainer li{
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0px 60px;
    border: 2px solid;
    border-color: dimgray;
    border-radius: 20px;
    background-color:antiquewhite;
    opacity: .5;
    font-size: 20px;
    font-family: "Roboto-Light";
    margin: 0px 8px;
    color: black;
    -webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
    color: black;
    
}

#navLinksContainer li:hover{
    background-color: lightblue;
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
    cursor: pointer;
}



.hidden{
    display: none;
}

.logoContain{
    margin-top: -500px;
}

#aboutMe{
    position: absolute;
    width: 1000px;
    text-align: center;
    height: 400px;
    line-height: 350px;
    margin-top: -600px;
    margin-left: 135px;
    border: 2px solid;
    border-radius: 20px;
    border-color: black;
  
}

#aboutTitle{
    line-height: 40px;
    font-family: "Marguerite";
}

#aboutText{
    position: absolute;
    margin-left: 25px;
    height: 50px;
    line-height: 5px;
    width: 950px;
    font-family: "Comfortaa";
    
}

#aboutText2{
    height: 300px;
    margin-top: 50px;
    line-height: 20px;
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
}

#interests{
    position: relative;
    line-height: 22px;
    margin-top: -240px;
    margin-right: 360px;
    margin-left: 360px;
}
#news{
    position: absolute;
    width: 1000px;
    text-align: center;
    height: 400px;
    line-height: 350px;
    margin-top: -600px;
    margin-left: 135px;
    border: 2px solid;
    border-radius: 20px;
    border-color: black;
}

#newsTitle{
    line-height: 40px;
    font-family: "Marguerite";
}

#newsText{
    position: relative;
    margin-bottom: 
}

#projects{
    position: absolute;
    width: 1000px;
    text-align: center;
    height: 400px;
    line-height: 350px;
    margin-top: -600px;
    margin-left: 135px;
    border: 2px solid;
    border-radius: 20px;
    border-color: black;
}

#projectsTitle{
    line-height: 40px;
    font-family: "Marguerite";
}

#projectsText{
    position: absolute;
}

#resume{
    position: absolute;
    width: 1000px;
    text-align: center;
    height: 400px;
    line-height: 350px;
    margin-top: -600px;
    margin-left: 135px;
    border: 2px solid;
    border-radius: 20px;
    border-color: black;
}

#resumeTitle{
    line-height: 40px;
    font-family: "Marguerite";
}

#resumeText{
    position: absolute;
}